html {
    font-size: 62.5%;
}

:root {
    --color-heading: #1B0760;
    --color-body: #918ca4;
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
}
body {
    font-size: 2.4rem;
    color: var(--color-body);
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
}
/* Typograpy */
h1, h2, h3 {
    color: var(--color-heading);
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    margin-top: 0;
    color: var(--color-body);
}

@media screen and (min-width: 768) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Hero */

.block {
     padding: 75px 0 340px;
     text-align: center;
     background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
      rgba(9,9,121,1) 34%, rgba(7,43,144,1) 46%, 
      rgba(6,59,154,1) 54%, rgba(0,212,255,1) 100%);
}

.block--skewed {
     clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.block__header, h1,
.block__header, h2,
.block__header, h3 {
    color: #fff;
}

.block__image img {
    width: 100%;
    
}