<div class="block block--skewed">
    <header block__header>
        <h2>Master Coding  & Technology Skills to Become an Engineer Company LOVE to Hire</h2>
    </header>

    <div class="container">
        <header class="block  block--skewed">
          <h2 class="block__header">Master Coding  & Technology Skills to Become an Engineer Company LOVE to Hire</h2>
      </header>
        <div class="block__image">
          <a href="/"><img src="images/ceo@2x.png" alt="A description image"></a>
          <div class="hello">&lt;HELLO&gt;</div>
        </div>
       </div>
</div>