<div class="container">
    <header class="block block__header block--skewed">
      <h2>Master Coding  & Technology Skills to Become an Engineer Company LOVE to Hire</h2>
  </header>
    <div class="block__image">
      <a href="/"><img src="images/ceo@2x.png" alt="A description image"></a>
      <div class="hello">&lt;HELLO&gt;</div>
      <h2 class="hero__heading">MY name is Ishaq Mohammed</h2>
    <p>My life’s mission is to help novice and professional software engineers increase
       their skills, make more money, and ultimately change their lives for the better.
    </p>
    </div>
   </div>