<ul class="list list--tick">
    <h2 class="block__header container">List of Courses</h2>
    <div class="grid grid--colls-2 grid--colls-3">
        <div class="courses">
            <h3>Web Developer</h3>
            <li class="list__item">Item 1</li>
            <li class="list__item">Item 2</li>
            <li class="list__item">Item 3</li>
        </div>
        <div class="courses">
            <h3>Web Developer</h3>
            <li class="list__item">Item 1</li>
            <li class="list__item">Item 2</li>
            <li class="list__item">Item 3</li>
        </div>
        <div class="courses">
            <h3>Web Developer</h3>
            <li class="list__item">Item 1</li>
            <li class="list__item">Item 2</li>
            <li class="list__item">Item 3</li>
        </div>
        
    </div>