<ul class="list list--tick">
    <h2 class="block__header container">List of Courses</h2>
    <div class="grid grid--colls-2 grid--colls-3">
        <div class="courses">
            <h3 class="list__heading">Front-End Dev</h3>
            <li class="list__item">Html & CSS</li>
            <li class="list__item">JavaScript</li>
            <li class="list__item">Reacts</li>
        </div>
        <div class="courses">
            <h3 class="list__heading">Back-End Dev</h3>
            <li class="list__item">JavaScript</li>
            <li class="list__item">Reacks</li>
            <li class="list__item">Django</li>
        </div>
        <div class="courses">
            <h3 class="list__heading">Programing Language</h3>
            <li class="list__item">Python</li>
            <li class="list__item">Java</li>
            <li class="list__item">C++</li>
        </div>
        