<div class="media block--skewed-left">
    <h2 class="media__heading">My lovely</h2>
    <div class="grid grid--colls-2">
      <div class="media__header">
        <p class="media__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, alias repudiandae quo qui deleniti doloremque, impedit culpa sint necessitatibus, 
          repellendus amet officia quae! Error soluta repellat officiis eos facilis maiores.
        </p>
      </div>
      <img class="media__image" src="images/p.jpg" alt="">
    </div>
  </div>